requests
pandas
SQLAlchemy==1.3.23
apache-airflow
# dev stuff as we are only using this for tests its okay but not production worthy
black
pip-tools
pylint
pytest
pytest-cov
pytest-mock
requests-mock
