requests
pandas
SQLAlchemy
# pip install apache-airflow==1.10.9 as issue with the version
# apache-airflow==1.10.9

# dev stuff as we are only using this for tests its okay but not production worthy
black
pip-tools
pylint
pytest
pytest-cov
pytest-mock
requests-mock
